In [1]:
import pandas as pd
df =pd.read_csv("train25.csv")
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [2]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB

In [4]:
le = preprocessing.LabelEncoder()

In [5]:
le.fit(df["Sex"])

LabelEncoder()

In [6]:
print(le.classes_)

['female' 'male']

In [7]:
df["Sex"] = le.transform(df["Sex"])

In [8]:
le.fit(df["Embarked"])
df["Embarked"] = le.transform(df["Embarked"])

In [9]:
df.Sex

0      1
1      0
2      0
3      0
4      1
      ..
884    1
885    0
886    0
887    1
888    1
Name: Sex, Length: 889, dtype: int32

In [10]:
y = df["Survived"]

In [11]:
x = df.drop(["Survived","PassengerId"], axis = 1)

In [12]:
y.count()

889

In [13]:
X_train , X_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state =0)

In [14]:
X_train.head()

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
350       1    1  45.0      0      0  35.0000         2
124       3    1  12.0      1      0  11.2417         0
577       3    0  45.0      1      0  14.4583         0
422       3    0  28.0      1      1  14.4000         2
118       3    0   2.0      4      2  31.2750         2

In [15]:
y_train.head()

350    0
124    1
577    0
422    0
118    0
Name: Survived, dtype: int64

In [16]:
from sklearn.naive_bayes import *

In [17]:
clf = BernoulliNB()

In [18]:
y_pred =  clf.fit(X_train, y_train).predict(X_test)

In [19]:
accuracy_score(y_test, y_pred, normalize =True)

0.7715355805243446

In [20]:
confusion_matrix(y_test, y_pred)

array([[131,  26],
       [ 35,  75]], dtype=int64)