In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn import svm

In [2]:
dataset = pd.read_csv("train25.csv")

In [3]:
le= preprocessing.LabelEncoder()
le.fit(dataset["Sex"])

LabelEncoder()

In [4]:
print(le.classes_)

['female' 'male']

In [5]:
dataset["Sex"] = le.transform(dataset["Sex"])

In [6]:
le.fit(dataset["Embarked"])
dataset["Embarked"] = le.transform(dataset["Embarked"])

In [7]:
y = dataset["Pclass"]
X = dataset.drop(["Pclass", "PassengerId"], axis =1)

In [8]:
x_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state=0)

In [9]:
x_train.head()

     Survived  Sex   Age  SibSp  Parch     Fare  Embarked
350         0    1  45.0      0      0  35.0000         2
124         1    1  12.0      1      0  11.2417         0
577         0    0  45.0      1      0  14.4583         0
422         0    0  28.0      1      1  14.4000         2
118         0    0   2.0      4      2  31.2750         2

In [10]:
X_test.head()

     Survived  Sex   Age  SibSp  Parch      Fare  Embarked
14          0    0  14.0      0      0    7.8542         2
158         0    1  45.0      8      2   69.5500         2
762         1    0  36.0      1      2  120.0000         2
740         0    1  36.0      1      0   78.8500         2
482         1    0  63.0      0      0    9.5875         2

In [11]:
y_train.head()

350    1
124    3
577    3
422    3
118    3
Name: Pclass, dtype: int64

In [12]:
y_test.head()

14     3
158    3
762    1
740    1
482    3
Name: Pclass, dtype: int64

In [13]:
clf = svm.SVC(gamma=0.01, C=100)

In [14]:
clf.fit(x_train, y_train )

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [15]:
ypred = clf.predict(X_test)

In [16]:
accuracy_score(y_test, ypred, normalize=True)

0.9026217228464419

In [17]:
confusion_matrix(y_test, ypred)

array([[ 64,   4,   2],
       [  4,  36,   9],
       [  1,   6, 141]], dtype=int64)